  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }

  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

  html {
    font-size: 10px;
  }

  body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 2rem 3rem; 
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* .header#blur.active{
    filter:
  } */
.popup-signup{
  background: rgba(0, 0, 0,0.6);
    width: 110vw;
    height: 110vh;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    scroll-behavior: none;
}
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    margin-top: 10rem; }
    .heading-primary-main {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      animation: moveInLeft 1s; }
    .heading-primary-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 15px;
      letter-spacing: 0.8rem;
      animation: moveInRight 1s; }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba(44, 247, 247,0.8), rgba(9, 120, 120, 0.845));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s; }
    .heading-secondary:hover {
      transform: skewY(2deg) skewX(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

  .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700; }

  .paragraph {
    font-size: 1.6rem; }
    .paragraph:not(:last-child) {
      margin-bottom: 3rem; }

  .u-center-text {
    text-align: center !important; }

  .u-margin-bottom-big {
    margin-bottom: 8rem !important; }

  .u-margin-bottom-medium {
    margin-bottom: 4rem !important; }

  .u-margin-bottom-small {
    margin-bottom: 1.5rem !important; }

  .u-margin-top-big {
    margin-top: 8rem !important; }

  .u-margin-top-huge {
    margin-top: 12rem !important; }

  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 6rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: moveUp .5s ease-out .75s;
    animation-fill-mode: backwards;
    border: none;
    cursor: pointer; }

  .btn-white {
    background-color: #fff;
    color: #777;
    font-size: 1.8rem; }
    .btn-white::after {
      background-color: #fff; }

  .btn-green {
    background-color: #55c57a;
    color: #fff;
    font-size: 1.8rem; }
    .btn-green::after {
      background-color: #55c57a; }

  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

  .btn:active, .btnfocus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s; }

  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-0.3rem); 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

  .btn-text:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

  .composition {
    position: relative;
    margin-left: 20px; }
    .composition__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border: 2px;
      position: absolute;
      z-index: 5;
      transition: all .2s;
      outline-offset: 2rem; }
      .composition__photo--p1 {
        top: -2rem;
        left: 0;
      }
      .composition__photo--p2 {
        top: 2rem;
        right: -3rem; 
      }
      .composition__photo--p3 {
        left: 20%;
        top: 15rem; 
      }
      .composition__photo:hover {
        /* outline: 1.2rem solid #55c57a; */
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 10; }
    .composition:hover .composition__photo:not(:hover) {
      transform: scale(0.95); }

  
  .popup {
    height: 100vh;
    width: 100%;
    background-color: orangered;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s; }
    .popup__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: #fff;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      display: table;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .4s .2s; }
    .popup__left {
      width: 33.333333%;
      display: table-cell; }
    .popup__right {
      width: 66.666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    .popup__img {
      display: block;
      width: 100%;
      transform: scale(1.01); }
    .popup__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid #eee;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; }
    .popup:target {
      opacity: 1;
      visibility: visible; }
    .popup__close:link, .popup__close:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1; }
    .popup__close:hover {
      color: #55c57a; }
    .popup:target .popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }

  .footer {
    background-color: #333;
    font-size: 1.4rem;
    color: #f7f7f7;
    height:700px;
    overflow: hidden;
    position: relative;
    padding-top: 10rem;
   }
    .footer__logo-box {
      position: absolute;
      top: 2rem;
      left: 8rem}
    .footer__logo {
      width: 15rem;
      height: auto;
      transform: scale(2); }
    .footer__navigation {
      border-top: 1px solid #777;
      padding-top: 2rem;
      display: inline-block; }
    .footer__list {
      list-style: none; }
    .footer__item {
      display: inline-block; }
      .footer__item:not(:last-child) {
        margin-right: 1.5rem; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      background-color: #333;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .3s ease; }
    .footer__link:hover, .footer__linkactive {
      color: #55c57a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
    .footer__copyright {
      border-top: 1px solid #777;
      padding-top: 2rem;
      width: 80%;
      float: right; }

  .row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }

  .header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(44, 247, 247,0.8), rgba(9, 120, 120, 0.845)), url(../img/hero-cover.jpg);
    background-size: cover;
    background-position: top;
    position: relative; 
  }

  .logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
  }
  .sign-up{
      padding: 1.6rem 3rem !important; 
      font-size: 1.6rem;
      transform: scale(0.8);
  }
  .logo {
    height: 6rem; }

  .textbox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 60%;}

  .section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh; }

  .mission{
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .mission-text{
    font-size: 2rem;
  }

  .section-book {
    height: 100vh;
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  height: 100vh;
  box-sizing: border-box;
  transform-style: inherit;
  background-image: linear-gradient(105deg, rgb(9, 120, 120) 0%, rgba(9, 120, 120,0.9) 50%, transparent 50%), url(../img/map.png);
  background-size: cover;
  border-radius: 3px;
}
.book__form {
  width: 50%;
  padding: 6rem; 
  position: relative;
}

.map-text {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: .2rem;
  transition: all .2s; 
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 5rem;
}
.map-register{
  position: absolute;
  top:50%;
  left: 28%;
}

.intro-video{
  height: 100vh;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 10rem;
  background-color: #f7f7f7;
}
.info-video{
  width: 100%;
}
.contact{
  margin-left: 190px;
}
.form{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
  width: 400px; 
  margin-right: 20rem;
  transform: translateY(-50px);
}
.form__input {
  font-size: 15px;
  font-family: inherit;
  color: inherit;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: all 0.3s;
}
.form__group{
  width: 80%;
  text-align: center;
}
.form__input::-webkit-input-placeholder {
  color: #fff;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 7px;
  display: block;
  transition: all 0.3s ease;
}

.footer-content{
  display: flex;
  width: 100%;
  min-height: 100px;
  padding-bottom: 5rem;
  justify-content: space-between;
}

.get-call{
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  margin-top: 3rem;
}

.say-hello{
  border-bottom: 1px solid #777;
  padding-bottom: 1rem;
}