html,
body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alex Brush', cursive;
    font-family: 'Average', serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Monoton', cursive;
}
#Sign-up {
    width: 100%;
    height: 100%;
}
.navbar-header img {
    height: 40px;
    padding-top: 0px;
    margin-top: 0px; 
}
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.website-top-nav {
    background-image: linear-gradient(to bottom right,#009FC2,#55EFC4);
    padding: 0px;
    border: #ffffff;
}
.ZeroHunger Website {
    padding: 0px;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Arial', Bold;
    padding: 10px 20px 10px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #0000;
}
.btn-general {
    border-color: #000000;
    font-family: 'Arial', bold;
    color: #000000;
    font-weight: 400px;
    text-transform: uppercase;
    border-radius: 30px 30px;
    margin-right: 10px;
        
}
.btn-general:hover,
.btn-general:focus {
    border-color: #ffffff;
    color: #4AE5C3;
}
#home-content-box .container-fluid img
{
    height: 100%;
    width: 100%;
    padding: 0px; 
}
