html,
body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alex Brush', cursive;
    font-family: 'Average', serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Monoton', cursive;
}
#Sign up {
    width: 100%;
}
.navbar-header img {
    height: 100px;
    width: 100px;
    margin-top: 0px;
}
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.website-top-nav {
    background-color: linear-gradient(to bottom right,#009FC2,#55EFC4);
    padding: 7px 0;
}
.ZeroHunger Website {
    padding: 0 85px;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Fredoka One', cursive;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: #22BFA4;
}
.navbar-collapse {
    max-height: none !important;
}
.website-top-nav ul.navbar-nav > li.active > a {
    background-color: #22BFA4;
}
.btn-back-to-top {
    color: #000000;
    border-color: #fff;
    background-color: #fff;
    float: right;
    margin-top: 100px;
    margin-right: 20px;
}
.btn-back-to-top:hover,
.btn-back-to-top:focus {
    background-color: #22BFA4;
    border-color: #22BFA4;
    color: #fff;
}