doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='style.css')
  title Document
.container
  .first
    .logo-box
      img.logo(src='../../img/hunger-logo.png', alt='Logo')
    .profile_photo
    .personal.fadeInUp
      div
        p Shivansh Srivastava
        p #201**105
        p 880****995
      p.personal_para
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Possimus, eveniet? Adipisci repellat cumque rerum odio amet ex sit, animi asperiores? Lorem, ipsum dolor sit
        | amet consectetur adipisicing elit. Debitis rem voluptate
        | doloribus sed odit, eos modi vitae. Magni, minima veniam?
  .second
    h1#heading DASHBOARD
    .secondpara.fadeInRight
      p
        | No. of 
        span(style='color: #fed049;') Deliveries
        |  so far  : 
        span.fadeInRight &amp;nbsp 695
      p
        | Food 
        span(style='color: #fed049;') Delivered
        |  so far  : 
        span.fadeInRight &amp;nbsp 1589 Kgs
      p
        | Service 
        span(style='color: #fed049;') Duration
        |   : 
        span.fadeInRight &amp;nbsp 24 months
  .third
    p#third_heading Donor&apos;s Requests
    .card
      p
        | Name: 
        span Krishna Saxena
      p
        | Mobile: 
        span 798***7123
      p
        | Address: 
        span B-25, Citypark, Shahjahanpur-242001
      div(style='text-align: center;')
        a#btn-text.btn-text.mission(href='#reachUs') Accept &rarr;
        a#btn-text.btn-decline.mission(href='#reachUs') Decline &rarr;
    .card
      p
        | Name: 
        span Shivansh Srivastava
      p
        | Mobile: 
        span 88983**344
      p
        | Address: 
        span A-7,Block-D,Vasant Kunj,Delhi
      div(style='text-align: center;')
        a#btn-text.btn-text.mission(href='#reachUs') Accept &rarr;
        a#btn-text.btn-decline.mission(href='#reachUs') Decline &rarr;
