*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom,rgba(9, 120, 120, 0.845),rgba(9, 120, 120, 0.845)),url(../../img/signup-back.jpg);
    background-color: rgba(9, 120, 120, 0.845);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 70vw;
    height: 80vh;
    background: white;
    border-radius: 3px;
    box-shadow: 0 8rem 9rem rgba(0, 0, 0, 0.2);  
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    overflow: hidden;             
}

.card-img{
    /* background-color: blueviolet; */
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../../img/signup-left.jpg);
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.heading{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.heading-sub{
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;  
    margin-bottom: 2em;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    transition: all .2s;
    position: relative;
    animation: moveUp .5s ease-out .75s;
    animation-fill-mode: backwards;
    border: none;
    cursor: pointer; }

.btn-blue {
    background-color: rgb(8, 130, 130);
    color: #fff;
    font-size: 1rem; 
}

.btn-white::after {
background-color: #fff; 
}
.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

  .btn:active, .btnfocus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
.card-content{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
}
.logo {
height: 3rem; 
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.form__heading{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(9, 120, 120, 0.845);
    letter-spacing: .2rem;
    margin-bottom: 2rem;
}
.form__input {
    font-size: 15px;
    font-family: inherit;
    padding-bottom: 1rem;
    padding-top: 1rem;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
    width: 100%;
    transition: all 0.3s;
}
.form-input::-webkit-input-placeholder {
    color: #777;
}
.form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
}
.form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
.form__label {
    font-size: 12px;
    font-weight: 700;
    margin-left: 19px;
    margin-top: 7px;
    display: block;
    transition: all 0.3s ease;
}
.form-group{
    width: 80%;
    text-align: center;
}
.forgotpass{
    text-decoration: none;
    color: rgb(8, 130, 130);
    font-size: 0.9rem;
}
.lower_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.check_sign-in{
    position: relative;
    background: rgba(9, 120, 120, 0.845);
}
.check__label{
    position: absolute;
    font-size: 0.9rem;
    margin-left: 6px;
}
.btn__sign-in{
    margin: 2rem;
}